.mat-list-item {
  height: unset;
}

.div-about-image {
  float: left;
  width: 74px;
}

.about-image {
  border-radius: 50%;
  height: 74px;
}

.div-about-content {
  float: left;
  margin-left: 20px;
}
